<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="shops"></ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
   <span style="color:#1a4207;margin: 10px;">Banny's Gallery</span>
  </div>

  <ion-row>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/phone.jpg"/> 
    </ion-col>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/shop.jpg"/> 
    </ion-col>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/shop1.jpg"/> 
    </ion-col>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/phone2.jpg"/> 
    </ion-col>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/shop5.jpg"/> 
    </ion-col>
    <ion-col class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
      <img src="assets/icon/shop2.jpg"/> 
    </ion-col>
  </ion-row>
  
</ion-content>