<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title>Available Products in this Shop </ion-title>
    <ion-buttons slot="primary">
        <ion-button  >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>
<!-- code that will render a list of products -->
<ion-content>
  <br>
  <ion-list lines="none">
    <div padding>
      Available products for <span style="color:#1f8611;">IHK</span>
    </div> <br> 

    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/phone.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Denim Jackets</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 

    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/laptop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/phone1.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/phone2.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/laptop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/phone.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/phone2.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Puppy</h2>
        <p>Price : Ugx:300000</p>
        <p>Can be delivred within 45 minutes</p>
      </ion-label>
      <ion-button slot="end"> Order Product</ion-button>
    </ion-item> 
  </ion-list>  
</ion-content>