<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title>Available Shops </ion-title>
    <ion-buttons slot="primary">
        <ion-button  >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- scrollable content -->

<ion-content>
  <ion-card>
     <img src="assets/icon/shop1.jpg"/>
     <ion-card-header>
      <ion-card-title>KATEX's Boutique</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button  >
      Visit Shop
    </ion-button>
  </ion-card>
  <ion-card>
    <img src="assets/icon/shop2.jpg"/>
    <ion-card-header>
     <ion-card-title>IHK</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     Keep close to Nature's heart... and break clear away, once in awhile,
     and climb a mountain or spend a week in the woods. Wash your spirit clean.
   </ion-card-content>
 </ion-card>
 <ion-card>
  <img src="assets/icon/shop3.jpg"/>
  <ion-card-header>
   <ion-card-title>Kevin's Boutique</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   Keep close to Nature's heart... and break clear away, once in awhile,
   and climb a mountain or spend a week in the woods. Wash your spirit clean.
 </ion-card-content>
</ion-card>
<ion-card>
  <img src="assets/icon/shop4.jpg"/>
  <ion-card-header>
   <ion-card-title>Banny's Boutique</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   Keep close to Nature's heart... and break clear away, once in awhile,
   and climb a mountain or spend a week in the woods. Wash your spirit clean.
 </ion-card-content>
</ion-card>
<ion-card>
  <img src="assets/icon/shop5.jpg"/>
  <ion-card-header>
   <ion-card-title>Anne's Beauty Shop</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   Keep close to Nature's heart... and break clear away, once in awhile,
   and climb a mountain or spend a week in the woods. Wash your spirit clean.
 </ion-card-content>
</ion-card>
</ion-content>