.top{
    text-align: center;
    height:50vh;
    background: #5e08c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
    img{
        height: 50px;
    }
  }