<ion-content [fullscreen]="true">
  <div class="top" color="primary">
    <img src="assets/icon/newlogo.svg" /> 
    <h2>Welcome back!</h2>
    <small>Login to your account on iDeliver</small>
  </div> <br>

      <div padding>
            <form >
              <ion-list>
                <ion-item>
                  <ion-input
                    type="tel" 
                    name="phone"
                    placeholder="Phone Number"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input
                    type="Password" name="password" required minilength="6" placeholder="Password"></ion-input>
                </ion-item>
                 <br>
              </ion-list>
              <ion-button
                type="submit"
                shape="round"
                style="color:white"
                expand="block"
              >
              Login to Your Account
              </ion-button>
            </form>
            <br/>
            <div text-center>
              <small> Forgot password? <a><b>Click Here</b></a></small>
            </div>
          </div>
</ion-content>