<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title> My Orders </ion-title>
    <ion-buttons slot="primary">
        <ion-button  >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-list lines="none">
    <div padding>
      Orders Made <span style="color:#1f8611;"></span>
    </div> <br> 

    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/shop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Denim Jackets</h2>
        <p>Price : Ugx:300000</p>
        <p>Payment on delivery</p>
      </ion-label>
      <ion-button slot="end">Pending</ion-button>
    </ion-item>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/shop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Denim Jackets</h2>
        <p>Price : Ugx:300000</p>
        <p>Payment on delivery</p>
      </ion-label>
      <ion-button slot="end">Pending</ion-button>
    </ion-item>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/shop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Denim Jackets</h2>
        <p>Price : Ugx:300000</p>
        <p>Payment on delivery</p>
      </ion-label>
      <ion-button slot="end">Pending</ion-button>
    </ion-item>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/icon/shop.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <h2>Denim Jackets</h2>
        <p>Price : Ugx:300000</p>
        <p>Payment on delivery</p>
      </ion-label>
      <ion-button slot="end">Pending</ion-button>
    </ion-item> 
  </ion-list>
      
</ion-content>