<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Your Shop/ Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div>
    <p>Hi Banny, Please lets us know about your Business</p>
  </div>
  <form >
    <ion-list>
      
        <ion-item>
          <ion-label position="floating">Shop Name</ion-label>
          <ion-input type="text"  name="name"  placeholder="Shop Name"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="tel"  name="phone"  placeholder="+256"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email"  name="email"  placeholder="example@gmail.com"></ion-input>
        </ion-item>
        <br/>
  
        <ion-item>
            <ion-label position="floating">Working hours</ion-label>
            <ion-input type="text"  name="hours" required   placeholder="8am - 10pm monday to friday"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
          <ion-label position="floating"> Address</ion-label>
          <ion-textarea name="address" required ></ion-textarea>
        </ion-item>
        <br/>
     
    </ion-list>
    <ion-button  type="submit"  shape="round" style="color:white" expand="block">Create Shop</ion-button>
  </form>
</ion-content>